* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body,
.grid,
.game-panel,
.launch-panel,
.control-panel {
  height: 100%;
}

body,
.launch-panel,
.dice-row,
.player-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("assets/wood.jpg");
  background-size: cover;
}

.parent {
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
  height: 90%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(222, 184, 135, 0.4);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.grid {
  height: 100%;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-gap: 1px;
}

.grid-item {
  border: black solid;
  position: relative;
  font-style: italic;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  background-color: rgba(256, 256, 256, 0.4);
}

.grid-item img {
  visibility: hidden;
  top: 35px;
  left: 20px;
  position: absolute;
  height: 40px;
  width: 60px;
}

.control-panel {
  float: right;
  width: 30%;
}

.start-button {
  text-align: center;
  background-color: rgba(165, 42, 42, 0.7);
  padding: 20px;
  width: 55%;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.dice-row {
  flex-direction: column;
  height: 50%;
}

.dice-row img {
  cursor: pointer;
}

.dice-row img,
.player-row img {
  display: block;
  margin: 25px 10px;
  border-radius: 20px;
  height: 100px;
  width: 100px;
}

.snake1 {
  z-index: 10;
  position: absolute;
  height: 30vh;
  width: 8vw;
  top: 10vh;
  left: 4vw;
}

.snake2 {
  z-index: 10;
  position: absolute;
  max-height: auto;
  max-width: auto;
  height: 35%;
  width: 15%;
  margin: 20vh 34vw;
  top: 0px;
  left: 0px;
}

.snake3 {
  z-index: 10;
  position: absolute;
  max-height: auto;
  max-width: auto;
  height: 15%;
  width: 15%;
  margin: 65vh 19vw;
  top: 0px;
  left: 0px;
}

.ladder1 {
  z-index: 10;
  position: absolute;
  max-height: auto;
  max-width: auto;
  height: 40%;
  width: 14%;
  margin: 47vh 12vw;
  top: 0px;
  left: 0px;
}

.ladder2 {
  z-index: 10;
  position: absolute;
  /* max-height: auto;
    max-width: auto; */
  height: 10%;
  width: 8%;
  top: 10vh;
  left: 19vw;
}

.active-player {
  background-color: lightcoral;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.hover-effect:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 8px 16px 0 rgba(256, 256, 256, 0.2); */
}
