* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header,
nav,
.container,
.container .main .odd-row,
.container .main .even-row {
  display: flex;
  flex-flow: row wrap;
}

header {
  justify-content: center;
  padding: 8px 13px;
  flex: auto;
}

header img {
  margin-top: 1vh;
  height: 5vw;
  width: auto;
}

header p {
  line-height: 1.5;
  margin-top: auto;
  margin-left: auto;
}

nav {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #4caf50;
  overflow: hidden;
}

nav a {
  padding: 14px 16px;
  letter-spacing: 4px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.container .left-nav {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  flex: 15%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container .left-nav a {
  text-decoration: none;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  color: black;
}

.container .main {
  flex: 85%;
}

.col1,
.col2 {
  flex: auto;
}

.container .main .even-row .col1 {
  order: 2;
}

.container .main .even-row .col2 {
  order: 1;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  .container .left-nav {
    display: none;
  }

  header p {
    display: none;
  }

  .even-row,
  .odd-row {
    flex-direction: column;
  }

  .container .main .even-row .col1 {
    order: 1;
  }

  .container .main .even-row .col2 {
    order: 2;
  }
}
